@import "../../../../assets/scss/breakpoints";

@mixin btn-styles {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}

.MoodButton {
  display: flex;

  &-btn {
    @include btn-styles;

    &:hover {
      background-color: #bcb4b4;
    }

    svg {
      font-size: 24px;
    }

    @include sm {
      padding: 0 2px;
      font-size: 14px;
    }
  }

  &-emojiBtn {
    position: relative;
    display: flex;
    align-items: center;
    transition: all 0.2s;

    &-emoji {
      font-size: 22px;
    }
  }
}

.MoodButton-btn-selected {
  @include btn-styles;
  background-color: #d3f393;

  @include sm {
    padding: 0 2px;
    font-size: 14px;
  }
}
