@import "../../../assets/scss/breakpoints";

.Player {
  background: #ded9d9;
  display: flex;

  &__content {
    margin: 0 auto;
    padding: 20px;
    width: 950px;

    @include md {
      width: 100%;
    }
  }
}
