@import "../../../../assets/scss/breakpoints";

@mixin text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.SongItem {
  border-bottom: 1px solid white;
  padding: 4px 8px;
  font-size: 15px;
  display: flex;
  align-items: flex-end;
  transition: all 0.2s;
  cursor: pointer;
  user-select: none;
  height: 30px;

  &:hover {
    background-color: #f3efef;
  }

  &-listNumber {
    width: 20px;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;

    @include sm {
      display: none;
    }
  }

  &-artist {
    margin-right: 30px;
    margin-left: 5px;
    width: 20%;
    @include text-overflow();

    @include sm {
      width: 30%;
    }
  }

  &-title {
    width: 30%;
    @include text-overflow();

    @include md {
      width: 40%;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    margin-left: auto;

    &-favorites {
      font-size: 13px;
      font-weight: bold;
      color: #0dd60d;
      padding: 4px 10px;
      border-radius: 4px;
      gap: 5px;
      align-items: flex-end;
      display: flex;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: transparent;
      gap: 4px;
      transition: all 0.2s;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #fff5f5;
      }
    }

    &-star {
      font-size: 20px;
      margin-right: 8px;
      color: orange;
      cursor: pointer;
    }
  }
}

.playback {
  background-color: #c1b6bc;

  &:hover {
    background-color: #c1b6bc;
  }
}
