@import "../../../../assets/scss/breakpoints";

.Track {
  &__info {
    display: flex;
    gap: 20px;

    &-cover {
      width: 260px;
      height: 260px;
      border-radius: 5px;
    }

    &-text {
      font-size: 24px;
      font-weight: bold;

      &-title {
        color: #fff;
        font-weight: 100;
        font-size: 28px;
        margin-bottom: 10px;
        padding: 10px;
        line-height: 37px;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 5px;
      }

      &-author {
        height: 50px;
      }

      &-playlist {
        font-size: 18px;
        margin-right: 10px;
        color: black;

        @include md {
          display: none;
        }
      }
    }
  }

  aside.EmojiPickerReact.epr-main {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1000;

    @include md {
      width: 300px !important;
      height: 415px !important;
    }

    @include sm {
      left: -270px;
    }
  }

  &_emoji {
    position: relative;
    transition: all 0.2s;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: yellow;
    }
  }
}
