@import "../../../../assets/scss/breakpoints";

@mixin cover {
  width: 260px;
  height: 260px;
  border-radius: 5px;

  @include x-sm {
    width: 230px;
    height: 230px;
  }
}

.Track {
  &__info {
    display: flex;
    gap: 20px;

    &-cover {
      @include cover();
    }

    &-no-cover {
      @include cover();
      display: flex;
      align-items: center;
      justify-content: center;

      background-color: rgba(0, 0, 0, 0.8);

      &-icon {
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background: #989898;

        @include x-sm {
          width: 65px;
          height: 65px;
          font-size: 30px;
        }
      }
    }

    &-text {
      font-size: 24px;
      font-weight: bold;

      &-title {
        color: #fff;
        font-weight: 100;
        font-size: 28px;
        margin-bottom: 10px;
        padding: 10px;
        line-height: 37px;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 5px;
        margin-bottom: 25px;

        @include sm {
          font-size: 22px;
          padding: 5px;
        }

        @include x-sm {
          font-size: 20px;
        }
      }

      &-author {
        height: 40px;

        @include sm {
          font-size: 20px;
        }

        @include x-sm {
          font-size: 18px;
        }
      }

      &-playlist {
        font-size: 16px;
        color: black;
        width: 130px;
        display: inline-block;

        @include md {
          display: none;
        }
      }
    }
  }

  aside.EmojiPickerReact.epr-main {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1000;

    @include md {
      width: 300px !important;
      height: 415px !important;
    }

    @include sm {
      left: -270px;
    }
  }

  &_emoji {
    position: relative;
    transition: all 0.2s;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: yellow;
    }
  }
}
