@import "../../../../assets/scss/breakpoints";

.Controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  &__content {
    width: 260px;
    display: flex;
    justify-content: space-around;

    @include x-sm {
      width: 230px;
    }
  }

  &__content button {
    border: none;
    background-color: transparent;
    margin-right: 8px;
    cursor: pointer;

    svg {
      font-size: 30px;

      &:hover {
        color: #583d3d;
      }

      @include x-sm {
        font-size: 26px;
      }
    }
  }

  &__volume {
    &-btn {
      border: none;
      border-radius: 5px;
      padding: 5px 8px;
      margin-right: 8px;
      cursor: pointer;
    }

    &-input {
      display: inline-block;

      @include x-sm {
        width: 90px;
      }
    }
  }
}
